body{
    background-color: rgb(255, 255, 255);
}

.Login{
    
    min-width: 100vh ;
    min-height: 100vh ;
    display:flex;
    justify-content: center;
    align-items:center;
    
}
.LoginState{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(167, 255, 245);
    min-width: 300px;
    min-height: 400px;
    flex-direction: column;
    background-color: rgba(12, 255, 255, 0.546);
    gap: 20px;
}

.loginTitle{
    position: absolute;
    display: flex;
    top: 10px;
    height: 30px;
    border: 2px solid blue;
    align-items: center;
    padding:0 5px 0;
}


  .imgLogin{
    display: flex;
    
}
.imgLogin>img{
    max-height: 400px;
    animation-name: opacity ;
}

@media only screen and (max-width: 650px) {
    .imgLogin>img{
        max-height: 500px;
        animation-name: opacity ;
        animation-duration: 1s;
        animation-fill-mode: forwards
    }
   
    @keyframes opacity {
        from { opacity: 1; height: 400px;}
        to{ opacity: 0; display: none; height: 0;} 
    }
}