*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(199, 199, 199);
}


.Login{
    min-height: 100vh ;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.LoginState{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    color: white;
    height: 100%;
    flex-direction: column;
    background-color: rgba(68, 68, 68, 0.546);
    gap: 20px;
    width: 400px;

}

@media only screen and (max-width: 400px) {
    .Login{
        height: 100%;
        width: auto;
    }
  }

.loginTitle{
    position: absolute;
    display: flex;
    top: 10px;
    height: 30px;
    border: 2px solid blue;
    align-items: center;
    padding:0 5px 0;
}


  .imgLogin{
    display: flex;
    
}
.imgLogin>img{
    max-height: 400px;
    animation-name: opacity ;
}

@media only screen and (max-width: 400px) {
    .imgLogin>img{
        max-height: 500px;
        animation-name: opacity ;
        animation-duration: 1s;
        animation-fill-mode: forwards
    }

    @keyframes opacity {
        from { opacity: 1; height: 400px;}
        to{ opacity: 0; display: none; height: 0;} 
    }
}