.Nav-box {
  height: 110px;
  padding-left: 40px;
  align-items: center;
  display: flex;
  background: rgb(255, 167, 167);
}

.searchBox {
  margin-top: 17px;
  display: flex;
  align-items: center;
  height: 15px;
  margin-left: 130px;
  border-radius: 7px;
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 20px;
  background: white;
  
}
.searchBox:hover{
    background: rgb(229, 229, 229);
}
.search {
 
  border-color: rgba(240, 248, 255, 0);
  background: rgba(255, 255, 255, 0);
 
}
@media only screen and (min-width: 1000px) {
  .search {
    min-width: 700px;
  }
}
