.createPost{
    margin: 20px;
    display: flex;
    gap: 10px;
}
.image>img{
    height: 200px;
    width: 200px;
}
.postBtn{
    background-color: blue;

}
.postBtn:disabled{
    background-color: black;
}