.gmailLogin{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

@media only screen and (max-width: 650px) {
    .Login{
        min-width: 100% ;
        min-height: screen ;
    }
    .LoginState{
        min-width: 300px;
        min-height: 400px;
    }

    
  }

  label{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 400px;
    font-size: 30px ;
  }
  
  input{
    position: relative;
    height: 30px;
    width: 300px;
    padding-left:15px ;
    padding-bottom: 0 ;
    border-bottom: 1px solid black;
    border-top:0 ;
    border-left: 0;
    border-right: 0;
    background-color: rgba(0, 0, 255, 0);
    margin: 0 auto;
}
input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
span{
    margin: 0 10px 0;
}
.btnState{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
