.App {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(255, 245, 111); */
  display: flex;
  /* overflow-x: hidden; */
  position: relative;
  
}

.menuContainer {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 30px 15px;
  gap: 55px;
  background: rgb(176, 255, 223);
}
.subMenu {
  height: 70px;
  background: #72D3D8;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
main {
  flex: 1;
  height: 100%;
  /* background: rgb(255, 255, 255); */
  margin-left:130px ;
}
.logo {
  width: 80px;
  min-width: 40px;
  height: 100px;
}
.iconStyle {
  width: 50px;
  height: 50px;
  min-width: 40px;
  border-radius: 40%;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 5px 20px rgba(0, 5, 20, 0.15);
  color:rgb(0, 0, 0);
  font-size: 25px;
}

.iconStyle:hover {
  background: rgba(100, 100, 100, 0.149);
}
.iconStyle:hover.loveIcon {
  color: rgb(0, 0, 0);
}

.mainContainer{
  flex: 1;
  background: rgb(172, 196, 255);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,300px);
  grid-auto-rows: 10px;
  margin-top: 15px;
 
} 
@media screen and(max-widht:480px) {
  .App{
    padding: 0px 20px;
  }
}