.Nav-box {
  height: 110px;
  align-items: center;
  display: flex;
  background: rgb(255, 167, 167);
  position: relative;
}

.searchBox {
  max-width: 500px;
  display: flex;
  align-items: center;
  height: 15px;
  padding: 15px 15px;
  width: 100%;
  position: relative;
}
.searchBox input:focus,
.searchBox input:hover,
.searchBox input:valid{
  border: 3px solid blue;
}
.search {
  background: rgba(250, 128, 114, 0);
  outline: none;
  font-size: 20px;
  border: #3c404300;
  height: 15px;
  border-radius: 150px;
  padding: 25px;
  background: white;
  width: 100%;
  cursor: pointer;
}
.searchlogo {
  min-width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  position: absolute;
  right: 30px;
}

.Button-group {
  display: flex;
  align-items: center;
  margin-top: 17px;
  position: absolute;
  right: 10px;
}
.Button-group >button{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 0;
}
