.Nav-box {
  height: 110px;
  align-items: center;
  display: flex;
  background: rgb(255, 167, 167);
  position: relative;
}

.searchBox {
  max-width: 500px;
  display: flex;
  align-items: center;
  height: 15px;
  border-radius: 7px;
  border: 2px solid rgba(0, 0, 0, 0.466);
  padding: 15px 15px;
  background: white;
  width: 100%;

  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}
.searchBox:hover {
  background: rgba(178, 178, 178, 0.526);
}
.search {
  background: rgba(250, 128, 114, 0);
  outline: none;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  border: #3c404300;
}
.searchlogo {
  background: #b8b8b8;
  min-width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.Button-group {
  display: flex;
  align-items: center;
  margin-top: 17px;
  position: absolute;
  right: 10px;
}
.Button-group >button{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 0;
}
